{% extends "base.html" %} {% block title %}Sample{% endblock %} 
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <!-- Content Row -->
      <div class="row">
      
        {% set colors = ['success', 'info', 'warning', 'primary'] %}
        {% for type, cards in card_counts.items() %}
        {% set color_index = loop.index0 %}
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-{{ colors[color_index % colors|length] }} shadow h-100 py-2">
            <div class="card-body ml-2">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-{{ colors[color_index % colors|length] }} text-uppercase mb-1">{{ type }} 출입 카드 수(오늘)</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    {{ cards | length }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">카드 불출 이력</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>이름</th>
                  <th>담당자</th>
                  <th>퇴실 시간</th>
                  <th>카드</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                    <th>이름</th>
                    <th>담당자</th>
                    <th>퇴실 시간</th>
                    <th>카드</th>
                </tr>
              </tfoot>
              <tbody>
                {% for log in card_log %}
                <tr>
                  <td>
                    {% if log.visitor_name|length > 1 %}
                        {{ log.visitor_name[0] + '*' + log.visitor_name[2:] }}
                    {% else %}
                        {{ log.visitor_name }}
                    {% endif %}
                  </td>
                  <td>{{ log.manager }}</td>
                  <td>{{ log.exited_date }}</td>
                  <td>{{ log.card_name }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
      <!-- End of Main Content -->
{% endblock %}

{% block js %}
    {{ super() }}
    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/datatables-demo.js')}}"></script>
{% endblock %}