{% extends "base.html" %} {% block title %}Sample{% endblock %} 
{% block content %}
    일간 방문자: {{visitor_count[0]}}<br>
    월간 방문자: {{visitor_count[1]}}<br>
    연간 방문자: {{visitor_count[2]}}<br>
        

{% endblock %}

{% block js %}
    {{ super() }}
    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/datatables-demo.js')}}"></script>
{% endblock %}