{% extends "base.html" %} {% block title %}Sample{% endblock %} 
{% block content %}
<html>
  <head>
    <style>
      .visitor_object {
              color: black;
              border: 1px solid black;
              border-radius: 25px 25px 25px 25px;
              padding: 3px 5px;
            }
    </style>
  </head>
  <body>
    <!-- Begin Page Content -->
    <div class="container-fluid" id="refresh_div">
      
      <!-- Page Heading
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
      </div> -->

      <!-- Content Row -->
      <div class="row">
      
        <!-- 현재 시간 -->
        <div class="col-xl-2 col-md-6 mb-4" id="current_time">
          <div class="card border-left-secondary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center" id="index_timestamp">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">{{time[0]}}</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{time[1]}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 실시간 출입 방문자 -->
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">실시간 출입 방문객</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ visitor_count[1] }}명</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 일간 방문자 -->
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">일간 방문자 (Daily)</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ visitor_count[0] }}명</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 주간 방문자 -->
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">주간 방문자 (Weekly)</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ visitor_count[0] }}명</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 월간 방문자 -->
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">월간 방문자 (Monthly)</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ visitor_count[0] }}명</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 연간 방문자 -->
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">연간 방문자 (Annual)</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ visitor_count[0] }}명</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content Row -->

      <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="row">
                <div class="col border-left-secondary">
                  <div class="custom-select" id="custom-select" style="overflow: hidden;">
                    <label for="custom-select-box">
                    <select name="custom-select-box" id="custom-select-box">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select> 개씩 보기
                    </label>
                  </div>
                </div>
                <div class="col border-left-secondary">
                  <div class="input-group">
                    <div class="custom-select" style="overflow: hidden;">
                      <label for="custom-select-box">
                      <select name="custom-select-box" id="custom-select-box">
                        {% for card in cards_element %}
                          <option value="10">{{card}}</option>
                        {% endfor %}
                      </select> 카드
                      </label>
                    </div>
                    <button class="btn btn-secondary" type="button" id="manager_update">불출</button>
                  </div>
                </div>
                <!-- 방문객 퇴실 -->
                <div class="col border-left-secondary">
                  <div class="input-group">
                    <input type="text" class="form-control" id="manager_update_input" name="manager_update_input" placeholder="담당자명 입력" maxlength="8" style="height: 38px;">
                    <button class="btn btn-secondary" type="button" id="manager_update">수정</button>
                  </div>
                </div>
                <div class="col border-left-secondary">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-secondary" id="exit_checkbox" style="height: 38px; overflow: hidden;">퇴실(선택 체크 후 버튼 클릭)</button>
                    </span>
                  </div>
                </div>
                <div class="col border-left-secondary">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <div id="custom-search">
                        <input type="text" id="search-input" class="form-control" placeholder="Search..."/>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align: center;">
                  <thead>
                    <tr>
                      <th scope="col">
                        <div class="form-check" style="display: flex; justify-content: center; align-items: center;">
                          <input type="checkbox" class="form-check-input" name="index_total_check_box" id="index_total_check_box">
                        </div>
                      </th>
                      <th scope="col">#</th>
                      <th scope="col">방문 목적</th>
                      <th scope="col" style="width:75px;">이름</th>
                      <th scope="col">소속</th>
                      <th scope="col">연락처</th>
                      <th scope="col">담당자</th>
                      <th scope="col">장비명</th>
                      <th scope="col">시리얼번호</th>
                      <th scope="col">방문 시각</th>
                      <th scope="col">퇴실 시각</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">#</th>
                      <th scope="col">방문 목적</th>
                      <th scope="col">이름</th>
                      <th scope="col">소속</th>
                      <th scope="col">연락처</th>
                      <th scope="col">담당자</th>
                      <th scope="col">장비명</th>
                      <th scope="col">시리얼번호</th>
                      <th scope="col">방문 시각</th>
                      <th scope="col">퇴실 시각</th>
                      <th scope="col"></th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for approve_visitor in approve_visitors %}
                    <tr>
                      <th scope="row">
                        <div class="form-check" style="display: flex; justify-content: center; align-items: center;">
                          <input type="checkbox" class="form-check-input" name="check_box" id="checkbox{{approve_visitor.id}}" value="{{approve_visitor.id}}">
                        </div>
                      </th>
                      <td>{{ approve_visitor.id }}</td>
                      <td>{{ approve_visitor.object }}</td>
                      <td>{{ approve_visitor.name }}</td>
                      <td>{{ approve_visitor.department }}</td>
                      <td>{{ approve_visitor.phone }}</td>
                      <td>{{ approve_visitor.manager }}</td>
                      <td>{{ approve_visitor.device }}</td>
                      <td>{{ approve_visitor.serial_number }}</td>
                      <td>{{ approve_visitor.created_date }}</td>
                      <td>
                        {% if approve_visitor.exit_date != None %}
                        {{ approve_visitor.exit_date }}
                      </td>
                        {% else %}
                        {% endif %}
                      <td>
                        {% if approve_visitor.exit == 0 %}
                        <button class="btn btn-secondary btn-sm" id="exit_btn{{approve_visitor.id}}" value="{{approve_visitor.id}}">퇴실</button>
                        {% else %}
                        {% endif %}
                      </td>
                    </tr>
                    <!-- 퇴실 스크립트 -->
                  <script>
                    $('#exit_btn{{approve_visitor.id}}').click(function(){
                      var exit_btn = $('#exit_btn{{approve_visitor.id}}').val();
                      var postdata = {
                        'exit_id': exit_btn,
                        'exit': 1
                      };
                      $.ajax({
                        contentType: 'application/json',
                        type: 'POST',
                        url: 'http://127.0.0.1:5000/api/ajax_exit',
                        data: JSON.stringify(postdata),
                        dataType: 'json',
                        success: function(data) {
                          alert('퇴실 되었습니다.');
                        },
                        error: function(request, status, error) {
                          alert('퇴실 오류');
                        }
                      })
                    })
                  </script>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <!-- Content Row -->
      <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

          <!-- Project Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
            </div>
            <div class="card-body">
              <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span></h4>
              <div class="progress mb-4">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span></h4>
              <div class="progress mb-4">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span></h4>
              <div class="progress mb-4">
                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span></h4>
              <div class="progress mb-4">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <!-- Color System -->
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card bg-primary text-white shadow">
                <div class="card-body">
                  Primary
                  <div class="text-white-50 small">#4e73df</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card bg-success text-white shadow">
                <div class="card-body">
                  Success
                  <div class="text-white-50 small">#1cc88a</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card bg-info text-white shadow">
                <div class="card-body">
                  Info
                  <div class="text-white-50 small">#36b9cc</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card bg-warning text-white shadow">
                <div class="card-body">
                  Warning
                  <div class="text-white-50 small">#f6c23e</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card bg-danger text-white shadow">
                <div class="card-body">
                  Danger
                  <div class="text-white-50 small">#e74a3b</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card bg-secondary text-white shadow">
                <div class="card-body">
                  Secondary
                  <div class="text-white-50 small">#858796</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card bg-light text-black shadow">
                <div class="card-body">
                  Light
                  <div class="text-black-50 small">#f8f9fc</div>
                </div>
              </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="card bg-dark text-white shadow">
              <div class="card-body">
                  Dark
                  <div class="text-white-50 small">#5a5c69</div>
              </div>
            </div>
          </div>
        </div>

        </div>

        <div class="col-lg-6 mb-4">

          <!-- Illustrations -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
            </div>
            <div class="card-body">
              <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="">
              </div>
              <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
              <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on unDraw &rarr;</a>
            </div>
          </div>

          <!-- Approach -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
            </div>
            <div class="card-body">
              <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>
              <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content --> 

  </body>
</html>
<!-- 체크박스 전체 선택/해제 스크립트 -->
<script type="text/javascript">
  $(document).ready(function() {
    $("#index_total_check_box").click(function() {
      if($("#index_total_check_box").is(":checked")) $("input[name=check_box]").prop("checked", true);
      else $("input[name=check_box]").prop("checked", false);
    });
    
    $("input[name=check_box]").click(function() {
      var total = $("input[name=check_box]").length;
      var checked = $("input[name=check_box]:checked").length;
      
      if(total != checked) $("#index_total_check_box").prop("checked", false);
      else $("#index_total_check_box").prop("checked", true); 
    });
  });
</script>

<!-- 체크박스 퇴실 스크립트 -->
<script>
  $('#exit_checkbox').click(function(){
    var checked_list = [];
    $("input[name='check_box']:checked").each(function(){
      checked_list.push($(this).val());
    });
    var postdata = {'checked_datas': checked_list}
    $.ajax({
      contentType: 'application/json',
      type: 'POST',
      url: 'http://127.0.0.1:5000/api/ajax_index_exit_checkbox',
      data: JSON.stringify(postdata),
      dataType: 'json',
      success: function(data) {
        alert('퇴실 되었습니다.');
      },
      error: function(request, status, error) {
        alert('퇴실 오류');
      }
    })
  })
</script>

<!-- 체크박스 담당자 수정 스크립트 -->
<script>
  $('#manager_update').click(function(){
    var manager = document.getElementById("manager_update_input");
    var input_manager = manager.value
    var checked_list = [];
    $("input[name='check_box']:checked").each(function(){
      checked_list.push($(this).val());
    });
    var postdata = {'checked_datas': checked_list, 'manager': input_manager}
    $.ajax({
      contentType: 'application/json',
      type: 'POST',
      url: 'http://127.0.0.1:5000/api/ajax_index_manager_update_checkbox',
      data: JSON.stringify(postdata),
      dataType: 'json',
      success: function(data) {
        alert('담당자가 수정 되었습니다.');
      },
      error: function(request, status, error) {
        alert('담당자 수정 오류');
      }
    })
  })
</script>

<!-- 커스텀 검색 기능 -->
<script>
  $(document).ready(function() {
    // DataTable 초기화
    var table = $('#dataTable').DataTable({
      lengthMenu: [10, 15, 20, 25, 50, 100],
      pageLength: 10 // 기본 페이지 길이 설정
    });
    // 기존 페이지 길이 조정 기능 활성화
    $('#dataTable_length select').on('change', function() {
      var newLength = parseInt($(this).val(), 10);
      table.page.len(newLength).draw();
    });

    // 셀릭트 이벤트 처리
    $('#custom-select-box').on('change', function() {
      var newLength = parseInt($(this).val(), 10);
      table.page.len(newLength).draw();
    });

    var initialLength = table.page.len();
    $('#custom-select-box').val(initialLength);

    // 기존 datatable_length select 요소의 옵션 복사
    var options = $('#dataTable_length select').html();
    // 새로운 커스텀 select 요소에 옵션 추가
    $('#custom-select-box').html(options);

    // 검색 이벤트 처리
    $('#search-input').on('keyup', function() {
      table.search(this.value).draw();
    });
  });
</script>

<!-- 기존 검색 폼 제거 -->
<script>
  $(document).ready(function() {
    var search = document.querySelector('#dataTable_filter');
    var select = document.querySelector('#dataTable_length')

    search.style.display = 'none';
    select.style.display = 'none';
  });
</script>


<!-- 시간 새로고침 js -->
<!-- <script>
  function autoRefresh_sample_div()
  {
    var currentLocation = window.location;
    $("#index_timestamp").load(currentLocation + ' #index_timestamp')
  }
  setInterval('autoRefresh_sample_div()', 1000); //1초 후 새로고침
</script> -->
{% endblock %}

{% block js %}
    {{ super() }}
    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js')}}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js')}}"></script>

    <!-- 테이블 데이터 처리 부트스트랩 Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/datatables-demo.js')}}"></script>
{% endblock %}
