{% extends "base.html" %} {% block title %}Sample{% endblock %} 
{% block content %}
<html>
    <head>
        <style>
            * {
              padding:0;
              margin:0;
              box-sizing: border-box;
            }
        
            #modalWrap {
              position: fixed; /* Stay in place */
              z-index: 10; /* Sit on top */
              padding-top: 100px; /* Location of the box */
              left: 0;
              top: 0;
              width: 100%; /* Full width */
              height: 100%; /* Full height */
              overflow: auto; /* Enable scroll if needed */
              background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }
        
            #modalBody {
              width: 800px;
              height: 600px;
              padding: 30px 30px;
              margin: 0 auto;
              border: 1px solid #777;
              background-color: #fff;
            }
        
            #closeBtn {
              float:right;
              font-weight: bold;
              color: #777;
              font-size:25px;
              cursor: pointer;
            }
          </style>
    </head>
    <body>
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- 팝업 닫기 -->
            <div id="modalWrap" style="display: none;">
            <div id="modalContent">
                <div id="modalBody">
                    <!-- 팝업 닫기 -->
                <span id="closeBtn">&times;</span> 
                    <!-- 팝업 내용 -->
                <h3 style="text-align:center">내방객 등록하기</h3>
                <form class="row g-3" method="post" action="/visit" enctype="multipart/form-data">
                    <div class="col-md-6">
                      <label for="inputName" class="form-label">이름</label>
                      <input type="text" class="form-control" id="inputName" name="inputName">
                    </div>
                    <div class="col-md-6">
                        <label for="inputDepartment" class="form-label">소속</label>
                        <select class="form-select" id="inputDepartment" name="inputDepartment">
                          <option value="{{department_list[0]}}">{{department_list[0]}}</option>
                          <option value="{{department_list[1]}}">{{department_list[1]}}</option>
                          <option value="{{department_list[2]}}">{{department_list[2]}}</option>
                          <option value="{{department_list[3]}}">{{department_list[3]}}</option>
                          <option value="{{department_list[4]}}">{{department_list[4]}}</option>
                          <option value="{{department_list[5]}}">{{department_list[5]}}</option>
                          <option value="{{department_list[6]}}">{{department_list[6]}}</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                      <label for="inputObject" class="form-label">방문 목적</label>
                      <select class="form-select" id="inputObject" name="inputObject">
                        <option value="업무 협의">업무 협의</option>
                        <option value="업무 요청">업무 요청</option>
                        <option value="단순 방문">단순 방문</option>
                        <option value="장비 반입">장비 반입</option>
                        <option value="단순 방문">단순 방문</option>
                        <option value="기타">기타</option>
                      </select>
                  </div>
                    <div class="col-12">
                      <label for="inputPhoneNumber" class="form-label">연락처</label>
                      <input type="text" class="form-control" id="inputPhoneNumber" placeholder="" name="inputPhoneNumber">
                    </div>
                    <div class="col-12">
                      <label for="inputManager" class="form-label">담당자</label>
                      <input type="text" class="form-control" id="inputManager" placeholder="" name="inputManager">
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck" onchange="toggleInputs()">
                            <label class="form-check-label" for="gridCheck">
                            장비 반입 여부
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <label for="inputDevice" class="form-label">장비명</label>
                      <input type="text" class="form-control" id="inputDevice" disabled="true" name="inputDevice">
                    </div>
                    <div class="col-md-6">
                      <label for="inputSerialNumber" class="form-label">시리얼 번호</label>
                      <input type="text" class="form-control" id="inputSerialNumber" disabled="true" name="inputSerialNumber">
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">등록하기</button>
                    </div>
                  </form>
                </div>
            </div>
            </div>

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4" id="popup">
            <h1 class="h3 mb-0 text-gray-800">Visitor Register</h1>
            <div id="btnWrap">
                <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="popupBtn"><i class="fas fa-plus fa-sm text-white-50"></i> 내방객 등록</button>
            </div>
          </div>
        
          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-7">
              <!-- DataTales Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <div class="row">
                    <div class="col border-left-secondary">
                      <div class="custom-select" id="custom-select" style="overflow: hidden;">
                        <label for="custom-select-box">
                        <select name="custom-select-box" id="custom-select-box">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select> 개씩 보기
                        </label>
                      </div>
                    </div>
                    <div class="col border-left-secondary">
                      <div class="input-group">
                        <span class="input-group-btn">
                          <!-- 체크 박스 전체 승인 버튼 -->
                          <button type="button" class="btn btn-success ml-3" id="approve_checkbox">승인(체크 선택 승인)</button>
                          <!-- 체크 박스 전체 반려 버튼 -->
                          <button type="button" class="btn btn-danger ml-3" id="deny_checkbox">반려(체크 선택 반려)</button>
                        </span>
                      </div>
                    </div>
                    <div class="col border-left-secondary">
                      <div class="input-group">
                        <input type="text" id="search-input" class="form-control" placeholder="Search..."/>
                        <button class="btn btn-secondary" type="button">검색</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align: center;">
                      <thead>
                        <tr>
                          <th scope="col">
                            <div class="form-check" style="display: flex; justify-content: center; align-items: center;">
                              <input type="checkbox" class="form-check-input" name="visit_total_check_box" id="visit_total_check_box">
                            </div>
                          </th>
                          <th scope="col">#</th>
                          <th scope="col">방문 목적</th>
                          <th scope="col">이름</th>
                          <th scope="col">소속</th>
                          <th scope="col">연락처</th>
                          <th scope="col">담당자</th>
                          <th scope="col">장비명</th>
                          <th scope="col">시리얼 번호</th>
                          <th scope="col">방문 시각</th>
                          <!-- <th scope="col">승인 여부(일반 구성원)</th> -->
                          <th scope="col">승인 여부(팀장급)</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">#</th>
                          <th scope="col">방문 목적</th>
                          <th scope="col">이름</th>
                          <th scope="col">소속</th>
                          <th scope="col">연락처</th>
                          <th scope="col">담당자</th>
                          <th scope="col">장비명</th>
                          <th scope="col">시리얼 번호</th>
                          <th scope="col">방문 시각</th>
                          <!-- <th scope="col">승인 여부(일반 구성원)</th> -->
                          <th scope="col">승인 여부(팀장급)</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        {% for visitor in visitor_info %}
                          <tr>
                            <td>
                              <div class="form-check" style="display: flex; justify-content: center; align-items: center;">
                                <input type="checkbox" class="form-check-input" name="check_box" id="checkbox{{visitor.id}}" value="{{visitor.id}}">
                              </div>
                            </td>
                            <th scope="row">{{ visitor.id }}</th>
                            <td><span class="visitor_object">{{ visitor.object }}</span></td>
                            <td>{{ visitor.name }}</td>
                            <td>{{ visitor.department }}</td>
                            <td>{{ visitor.phone }}</td>
                            <td>{{ visitor.manager }}</td>
                            <td>{{ visitor.device }}</td>
                            <td>{{ visitor.serial_number }}</td>
                            <td>{{ visitor.created_date }}</td>
                            <!-- <td><button class="btn btn-primary mr-2" id="approve_btn">긴급 승인</button></td> -->
                            <td>
                              <button class="btn btn-success mr-2 btn-sm" id="approve_btn{{visitor.id}}" value="{{visitor.id}}">승인</button>
                              <button class="btn btn-danger btn-sm" id="deny_btn{{visitor.id}}" value="{{visitor.id}}">반려</button>
                            </td>
                          </tr>
                      <script>
                        $('#approve_btn{{visitor.id}}').click(function(){
                          var visitor_id = $('#approve_btn{{visitor.id}}').val();
                          var postdata = {
                            'visitor_id': visitor_id,
                            'approve': 1
                          };
                          $.ajax({
                            contentType: 'application/json',
                            type: 'POST',
                            url: 'http://127.0.0.1:5000/api/ajax_approve',
                            data: JSON.stringify(postdata),
                            dataType: 'json',
                            success: function(data) {
                              alert('승인되었습니다.');
                            },
                            error: function(request, status, error) {
                              alert('승인 오류');
                            }
                          })
                        })
                        </script>
                        <script>
                          $('#deny_btn{{visitor.id}}').click(function(){
                            var visitor_id = $('#approve_btn{{visitor.id}}').val();
                            var postdata = {
                              'visitor_id': visitor_id,
                              'approve': 1
                            }
                            $.ajax({
                              contentType: 'application/json',
                              type: 'POST',
                              url: 'http://127.0.0.1:5000/api/ajax_deny',
                              data: JSON.stringify(postdata),
                              dataType: 'json',
                              success: function(data) {
                                alert('반려되었습니다.');
                              },
                              error: function(request, status, error) {
                                alert('반려 오류');
                              }
                            })
                          })
                          </script>
                      {% endfor %}
                    </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
  </html>
<!-- 팝업 창 스크립트 -->
<script>
    const btn = document.getElementById('popupBtn');
    const modal = document.getElementById('modalWrap');
    const closeBtn = document.getElementById('closeBtn');

    btn.onclick = function() {
    modal.style.display = 'block';
    }
    closeBtn.onclick = function() {
    modal.style.display = 'none';
    }

    window.onclick = function(event) {
    if (event.target == modalWrap) {
        modal.style.display = "none";
    }
}
</script>

<!-- 인풋 창 disabled/abled -->
<script>
    function toggleInputs() {
        var checkbox = document.getElementById('gridCheck');
        var inputDevice = document.getElementById('inputDevice');
        var inputSerialNumber = document.getElementById('inputSerialNumber');

        if (checkbox.checked) {
        inputDevice.disabled = false;
        inputSerialNumber.disabled = false;
        } else {
        inputDevice.disabled = true;
        inputSerialNumber.disabled = true;
        }
    }
</script>

<!-- 체크박스 전체 선택/해제 스크립트 -->
<script type="text/javascript">
  $(document).ready(function() {
    $("#visit_total_check_box").click(function() {
      if($("#visit_total_check_box").is(":checked")) $("input[name=check_box]").prop("checked", true);
      else $("input[name=check_box]").prop("checked", false);
    });
    
    $("input[name=check_box]").click(function() {
      var total = $("input[name=check_box]").length;
      var checked = $("input[name=check_box]:checked").length;
      
      if(total != checked) $("#visit_total_check_box").prop("checked", false);
      else $("#visit_total_check_box").prop("checked", true); 
    });
  });
</script>

<!-- 체크박스 승인 스크립트 -->
<script>
  $('#approve_checkbox').click(function(){
    var checked_list = [];
    $("input[name='check_box']:checked").each(function(){
      checked_list.push($(this).val());
    });
    var postdata = {'checked_datas': checked_list}
    $.ajax({
      contentType: 'application/json',
      type: 'POST',
      url: 'http://127.0.0.1:5000/api/ajax_visit_approve_checkbox',
      data: JSON.stringify(postdata),
      dataType: 'json',
      success: function(data) {
        alert('승인 되었습니다.');
      },
      error: function(request, status, error) {
        alert('승인 오류');
      }
    })
  })
</script>

<!-- 체크박스 반려 스크립트 -->
<script>
  $('#deny_checkbox').click(function(){
    var checked_list = [];
    $("input[name='check_box']:checked").each(function(){
      checked_list.push($(this).val());
    });
    var postdata = {'checked_datas': checked_list}
    $.ajax({
      contentType: 'application/json',
      type: 'POST',
      url: 'http://127.0.0.1:5000/api/ajax_visit_deny_checkbox',
      data: JSON.stringify(postdata),
      dataType: 'json',
      success: function(data) {
        alert('승인 되었습니다.');
      },
      error: function(request, status, error) {
        alert('승인 오류');
      }
    })
  })
</script>

<!-- 커스텀 셀렉트, 검색 기능 -->
<script>
  $(document).ready(function() {
    // DataTable 초기화
    var table = $('#dataTable').DataTable({
      lengthMenu: [10, 15, 20, 25, 50, 100],
      pageLength: 10 // 기본 페이지 길이 설정
    });
    // 기존 페이지 길이 조정 기능 활성화
    $('#dataTable_length select').on('change', function() {
      var newLength = parseInt($(this).val(), 10);
      table.page.len(newLength).draw();
    });

    // 셀릭트 이벤트 처리
    $('#custom-select-box').on('change', function() {
      var newLength = parseInt($(this).val(), 10);
      table.page.len(newLength).draw();
    });

    var initialLength = table.page.len();
    $('#custom-select-box').val(initialLength);

    // 기존 datatable_length select 요소의 옵션 복사
    var options = $('#dataTable_length select').html();
    // 새로운 커스텀 select 요소에 옵션 추가
    $('#custom-select-box').html(options);

    // 검색 이벤트 처리
    $('#search-input').on('keyup', function() {
      table.search(this.value).draw();
    });
  });
</script>

<!-- 기존 셀렉트, 검색 폼 제거 -->
<script>
  $(document).ready(function() {
    var search = document.querySelector('#dataTable_filter');
    var select = document.querySelector('#dataTable_length')

    search.style.display = 'none';
    select.style.display = 'none';
  });
</script>

{% endblock %}

{% block js %}
    {{ super() }}
    <!-- 테이블 데이터 처리 부트스트랩 Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/datatables-demo.js')}}"></script>
{% endblock %}